<?xml version="1.0" encoding="utf-8"?>

<set xmlns:android="http://schemas.android.com/apk/res/android"
    android:shareInterpolator="false">
  <translate android:fromXDelta="0%" android:toXDelta="0%"
      android:fromYDelta="0%" android:toYDelta="100%"
      android:duration="280"/>
</set>