<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- When selected -->
  <item android:state_pressed="true" >
    <shape android:shape="rectangle" >

      <corners
        android:bottomLeftRadius="8dp"
        android:bottomRightRadius="8dp"
        android:topLeftRadius="8dp"
        android:topRightRadius="8dp" />

      <solid android:color="@color/primaryDark" />

      <padding
        android:bottom="0dp"
        android:left="0dp"
        android:right="0dp"
        android:top="0dp" />

      <size
        android:height="60dp"
        android:width="270dp" />

    </shape>


  </item>

  <!-- When not selected-->
  <item>
    <shape android:shape="rectangle" >

      <corners
        android:bottomLeftRadius="8dp"
        android:bottomRightRadius="8dp"
        android:topLeftRadius="8dp"
        android:topRightRadius="8dp" />

      <solid android:color="@color/primary" />

      <padding
        android:bottom="0dp"
        android:left="0dp"
        android:right="0dp"
        android:top="0dp" />

      <size
        android:height="60dp"
        android:width="270dp" />


    </shape>
  </item>

</selector>